<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vehicle Parking System - Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for ('static',filename='css/dashboard_admin_users_style.css')}}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <span class="brand">Vehicle Parking System</span>
      <a href="{{ url_for('main.admin_dashboard') }}" class="nav-link">Home</a>
      <a href="{{ url_for('main.admin_dashboard_users') }}" class="nav-link active">Users</a>
      <a href="{{ url_for('main.search_admin') }}" class="nav-link">Search</a>
      <a href="{{ url_for('main.admin_summary') }}" class="nav-link">Summary</a>
    </div>
    <div class="navbar-right">
      <a href="{{ url_for('main.edit_profile',user_id=id )}}" class="welcome" title="Click to edit profile">Welcome, {{ name }}</a>
      <a href="{{ url_for('main.logout') }}" class="logout-btn">Logout</a>
      
    </div>
  </nav>
  <section class="history-section">
    <h2>Registered Users</h2>
    <table class="stylish-table">
        <thead>
            <tr>
                <th class="col-id">User ID</th>
                <th class="col-vehicle">Full Name</th>
                <th class="col-location"> Address</th>
                <th class="col-pincode">Pincode</th>
                <th class="col-vehiclenumber">Vehicle Number</th>
                
                
            </tr>
        </thead>
        <tbody>

           {% if user_list_data %}
                {% for user_id in user_list_data %}
                <tr>
                    <td>{{ user_id }}</td>
                    <td>{{ user_list_data[user_id].full_name }}</td>
                    <td>{{ user_list_data[user_id].address }} </td>
                    <td>{{ user_list_data[user_id].pincode }}</td>
                    <td>{{  user_list_data[user_id].vehicle_number }}</td>
                   
                  
                </tr>
                {% endfor %}
            {% else %}
            <tr><td colspan="4">No Registered Users.</td></tr>
            {% endif %}
        </tbody>

    </table>
  </main>
</body>
</html>
